*{
	margin: 0;
	padding: 0;
}
body {
  background-image: linear-gradient(to right,#cd59c3, rgb(221, 173, 230), #cd59c3);
    text-align: center;
  }
  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link{
    color:#080208;
  }
  a:visited{
    color:#56007a;
  }
  p {
    font-family: 'Times New Roman';
    color:black;
    padding-top: 8px;
    padding-bottom:  4px;
    padding-left: 20px;
  }
  p::first-letter {
    color: #cd59c3;
    font-size: x-large;
  }
  header {
	width: 100%;
	height: 120px;
	background-color: #cd59c3;
  color:black;
   text-align: center;
  }
  h1{
    font-family: 'Times New Roman';
    font-size:30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #04080b;
  }
  h2{
    font-family: 'Times New Roman';
    font-size:25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #04080b;
  }
  h3{
    font-family: 'Times New Roman';
    font-size:20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #04080b;
  }
  h4{
    font-family: 'Times New Roman';
    font-size:15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #04080b;
  }
  h5{
    font-family: 'Times New Roman';
    font-size:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #04080b;
  }
  footer{
    font-family: 'Times New Roman';
    width: 100%;
    background-color: #cd59c3;
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-right: 10px;
}
footer:hover{
  font-size: x-large;
}
.header nav {
    font-family: 'Times New Roman';
    background-color:#cd59c3;
    height: 60px;
    width: 100%;
    font-size:20px;
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-right: 10px;
}
ul{
  font-family: 'Times New Roman';
  color: #04080b;
  margin: 10px;
  list-style-type:circle;
  padding-left: 10px;
  list-style-position: inside;
}
ol{
  font-family: 'Times New Roman';
  color: #04080b;
  margin: 10px;
  list-style-type:decimal;
  list-style-position: inside;
  padding-left: 10px;
}
table,tr,td,th {
  border: 3px solid;
  margin-left: auto;
  margin-right: auto;
  border-color: #cd59c3;
}
input[type=text],input[type=email],input[type=tel],input[type=date],input[type=time],input[type=color],input[type=range],input[type=url]{
  width: 30%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cd59c3;
  border-radius: 1px;
  box-sizing: border-box;
}
label{
  width:30;
  display: inline-block;
 color:#04080b;
}
input[list=mancare-tipp]{
  width: 30%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cd59c3;
  border-radius: 1px;
  box-sizing: border-box;
}
select{
  width: 30%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cd59c3;
  border-radius: 1px;
  box-sizing: border-box;
}
button{
  background-color: rgb(221, 173, 230); 
  border: 3px solid #cd59c3;
  color: #04080b;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-size: 16px;
}
button:hover{
  color:#04080b;
  background-color: #cd59c3;
}
div#div1 {
  transform: rotate(20deg);
}
div#div2 {
  transform: rotate(-20deg);
}
.imageMove {
  position:absolute;
  text-align: left;
  animation-name: example;
  animation-duration: 20s;
}
.imageMove2{
  position:relative;
  text-align: left;
  animation-name: example;
  animation-duration: 20s; 
}
@keyframes example {
  0%   {left:0px; top:0px;}
  100%  { left:1350px; top:0px;}
}
.topnav {
  overflow: hidden;
  font-family: 'Times New Roman';
  text-align: center;
  background-color:#cd59c3;
  font-size:20px;
}
/* Style the topnav links */
.topnav a {
  float:left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
.invat p::first-letter{
  
    color: #000000;
    font-size:medium;
}
