
@page {
  size: A4;
  margin: 0;
}
@media print {
  body {
    text-align: center;
  }
  p {
    font-family: 'Times New Roman';
    color:black;
    padding-top: 8px;
    padding-bottom:  4px;
    padding-left: 20px;
  }
    
    table,tr,td,th {
      border: 1px solid;
      margin-left: auto;
      margin-right: auto;
      border-color: #020102;
    }
    input[type=text],input[type=email],input[type=tel],input[type=date],input[type=time],input[type=color],input[type=range],input[type=url]{
      width: 30%;
      padding: 10px 10px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #000000;
      border-radius: 1px;
      box-sizing: border-box;
    }
    button{
      border: 3px solid #000000;
      color: #04080b;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 10px;
      font-size: 16px;
    }
}