<!DOCTYPE html>
<html lang="ro-RO">
    <head>
        <title>Fotografii</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/stil.css">
    </head>
    <body>
        <header>
            <h1>Fotografii</h1>
            <br>
            <input type="button" value="Delogare" onclick="location.href='/delogare'">
            <br><br>
        </header>
        <main>
            <div class="container">
                <%- body %>
            </div>
        </main>
        <br><br>
        <footer>&copy; Programare Web</footer>

    </body>
</html>
